@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Bai Jamjuree', sans-serif;
}

h1{
 font-size: 2.18rem;
 font-weight: 600;
 color: hsl(210, 10%, 33%);
 padding: 1rem 0;
 font-weight: 600;
 font-size: 2.18rem;
 width: 80%;
 margin: auto;
}

p{
 padding: 0.8rem;
 text-align: center;
 line-height: 2;
 width: 80%;
 margin: auto;
 color: hsl(201, 11%, 66%);
 font-size: 18px;
}

.header{
 border: 1px solid black;
 display: block;
 width: 60%;
 text-align: center;
 margin:auto;
 justify-content: center;
}

.header img{
 padding: 4rem;
 margin: 0 auto;
 display: block;
}


.header button{
 padding: 1rem;
 margin: 1rem;
 border: none;
 outline: none;
 border-radius: 10rem;
 color: white;
 font-size: 18px;
 width: 16rem;
}

.header .btn-iOS{
 padding: 1rem;
 margin: 0.5rem;
 background-color:  hsl(171, 66%, 44%);
 box-shadow: 2px 2px 3px hsl(171, 51%, 39%);
}

.header .btn-mac{
 background-color:  hsl(233, 100%, 69%);
 box-shadow: 2px 2px 3px hsl(233, 48%, 47%);
}

@media only screen and  (max-width:600px){

 .header{
  width: 100%;
  padding:1rem;
 }

 h1{
  font-size: 1.66rem;
  width: 100%;
 }
 p{
  width: 100%;
 }
}